# Ignore Connect IQ / compiler build outputs
/bin/
/build/
/out/
/dist/
/compiled/

# Ignore packaged / device files
*.prg
*.iq
*.zip
*.elf
*.map
*.mcgen
*.mir
*.prg.debug.xml


# IDE / OS
.vscode/
.idea/
.settings/
*.log
*.tmp
.DS_Store
Thumbs.db

# NPM / misc (if present)
node_modules/