<settings>
    <setting propertyKey="@Properties.showBattery" title="Show Battery Level">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.showTime" title="Show Time">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.timeColor" title="Time Color">
        <settingConfig type="list">
            <listEntry value="1">@Strings.ColorWhite</listEntry>
            <listEntry value="2">@Strings.ColorDarkGray</listEntry>
            <listEntry value="3">@Strings.ColorBlue</listEntry>
            <listEntry value="4">@Strings.ColorRed</listEntry>
            <listEntry value="5">@Strings.ColorGreen</listEntry>
            <listEntry value="6">@Strings.ColorOrange</listEntry>
            <listEntry value="7">@Strings.ColorYellow</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.showSeconds" title="Show Seconds">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.secondsColor" title="Seconds Color">
        <settingConfig type="list">
            <listEntry value="1">@Strings.ColorWhite</listEntry>
            <listEntry value="2">@Strings.ColorDarkGray</listEntry>
            <listEntry value="3">@Strings.ColorBlue</listEntry>
            <listEntry value="4">@Strings.ColorRed</listEntry>
            <listEntry value="5">@Strings.ColorGreen</listEntry>
            <listEntry value="6">@Strings.ColorOrange</listEntry>
            <listEntry value="7">@Strings.ColorYellow</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.hebrewDateColor" title="Hebrew Date Color">
        <settingConfig type="list">
            <listEntry value="1">@Strings.ColorWhite</listEntry>
            <listEntry value="2">@Strings.ColorDarkGray</listEntry>
            <listEntry value="3">@Strings.ColorBlue</listEntry>
            <listEntry value="4">@Strings.ColorRed</listEntry>
            <listEntry value="5">@Strings.ColorGreen</listEntry>
            <listEntry value="6">@Strings.ColorOrange</listEntry>
            <listEntry value="7">@Strings.ColorYellow</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.showGregorianDate" title="Show Gregorian Date">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.gregorianDateFormat" title="@Strings.GregorianDateFormatTitle">
        <settingConfig type="list">
            <listEntry value="1">@Strings.GregorianFormatDowDayMonth</listEntry>
            <listEntry value="2">@Strings.GregorianFormatDowMonthDay</listEntry>
            <listEntry value="3">@Strings.GregorianFormatDayMonthYear</listEntry>
            <listEntry value="4">@Strings.GregorianFormatMonthDayYear</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.gregorianDateColor" title="Gregorian Date Color">
        <settingConfig type="list">
            <listEntry value="1">@Strings.ColorWhite</listEntry>
            <listEntry value="2">@Strings.ColorDarkGray</listEntry>
            <listEntry value="3">@Strings.ColorBlue</listEntry>
            <listEntry value="4">@Strings.ColorRed</listEntry>
            <listEntry value="5">@Strings.ColorGreen</listEntry>
            <listEntry value="6">@Strings.ColorOrange</listEntry>
            <listEntry value="7">@Strings.ColorYellow</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.showSteps" title="@Strings.BottomLeftDataToggle">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.stepsDataType" title="Bottom Left Data">
        <settingConfig type="list">
            <listEntry value="1">@Strings.DataNextSunEvent</listEntry>
            <listEntry value="2">@Strings.DataSteps</listEntry>
            <listEntry value="3">@Strings.DataHeartRate</listEntry>
            <listEntry value="4">@Strings.DataBodyBattery</listEntry>
            <listEntry value="5">@Strings.DataFloors</listEntry>
            <listEntry value="6">@Strings.DataIntensityMinutes</listEntry>
            <listEntry value="7">@Strings.DataCalories</listEntry>
            <listEntry value="8">@Strings.DataBattery</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.stepsColor" title="@Strings.BottomLeftColorTitle">
        <settingConfig type="list">
            <listEntry value="1">@Strings.ColorWhite</listEntry>
            <listEntry value="2">@Strings.ColorDarkGray</listEntry>
            <listEntry value="3">@Strings.ColorBlue</listEntry>
            <listEntry value="4">@Strings.ColorRed</listEntry>
            <listEntry value="5">@Strings.ColorGreen</listEntry>
            <listEntry value="6">@Strings.ColorOrange</listEntry>
            <listEntry value="7">@Strings.ColorYellow</listEntry>
        </settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.showSunEvent" title="@Strings.BottomRightDataToggle">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.sunDataType" title="Bottom Right Data">
        <settingConfig type="list">
            <listEntry value="1">@Strings.DataNextSunEvent</listEntry>
            <listEntry value="2">@Strings.DataSteps</listEntry>
            <listEntry value="3">@Strings.DataHeartRate</listEntry>
            <listEntry value="4">@Strings.DataBodyBattery</listEntry>
            <listEntry value="5">@Strings.DataFloors</listEntry>
            <listEntry value="6">@Strings.DataIntensityMinutes</listEntry>
            <listEntry value="7">@Strings.DataCalories</listEntry>
            <listEntry value="8">@Strings.DataBattery</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.chutzLaAretz" title="@Strings.ChutzLaAretzTitle">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.sunEventColor" title="@Strings.BottomRightColorTitle">
        <settingConfig type="list">
            <listEntry value="1">@Strings.ColorWhite</listEntry>
            <listEntry value="2">@Strings.ColorDarkGray</listEntry>
            <listEntry value="3">@Strings.ColorBlue</listEntry>
            <listEntry value="4">@Strings.ColorRed</listEntry>
            <listEntry value="5">@Strings.ColorGreen</listEntry>
            <listEntry value="6">@Strings.ColorOrange</listEntry>
            <listEntry value="7">@Strings.ColorYellow</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.shabbatMode" title="Shabbat Mode: removes Steps and Sun Event in Shabbat">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.rabbenuTam" title="Rabbenu Tam">
        <settingConfig type="boolean" />
    </setting>
</settings>